.cabecalho-tabela-roupas{
    background-color: #bb86fc;
}

.cabecalho-tabela-moveis-eletros{
    background-color: #00c4b4;
}

.roupas td{
    background-color: #424250;
}

.moveis-eletros td{
    background-color: #424250;
}

